/* Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: rgb(247, 245, 146);
$black: rgb(38, 14, 17);
$primary: rgb(252, 60, 60);
$secondary: rgb(247, 245, 146);
$tertiary: rgb(252, 60, 60);
